{% extends 'header.html' %}

{% block content %}

	<div class="container-fluid" style="height:90%;">
    <div class="row">
            {% if user.is_authenticated %}
              <h2> Welcome, {{ user.username }}</h2>
							<div class="row">
									<div class="col-sm-6">
											<h3>Favorite Shows</h3>
											<div class="table-responsive">
											<table class="table table-condensed table-hover table-bordered">
													<thead>
															<tr>
																	<th>TV Show</th>
																	<th>Episode</th>
															</tr>
													</thead>
													<tbody>
															{% for row in shows %}
																	<tr>
																			{% for cell in row %}
																			<td>{{cell}}</td>
																			{% endfor %}
																	</tr>
															{% endfor %}
													</tbody>
											</table>
									</div>
									<div class="col-sm-6"></div>
									</div>
									<div class="row">
											<h3>Saved Queries</h3>
											<div class="table-responsive">
															<table class="table table-condensed table-hover table-bordered">
																	<thead>
																			<tr>
																					<th>Query Name</th>
																					<th>Query Properties</th>
																			</tr>
																	</thead>
																	<tbody>
																			{% for row in savedQueries %}
																			<tr>
																					{% for cell in row %}
																					<td>{{cell}}</td>
																					{% endfor %}
																			</tr>
																			{% endfor %}
																	</tbody>
															</table>
													</div>
									</div>
							</div>
							
            {% else %}
                <h4>Please <a href="javascript:void(0)" onclick="goToURL(); return false;">sign in</a></h4>
                <script>
                  function goToURL() {
                    location.href = '/login/';
                  }
                </script>
            {% endif %}
    </div>


</div>


{% endblock %}
