{% extends "header.html" %}
{% block content %}
<style type="text/css">
.asd {
    color:blue;
    background-color:transparent;
    border:none;
}
</style>
	<div class="container-fluid" style="height:90%;">

    <!-- Page Heading -->
        <div class="row">
            <h3 class="page-header">
                Dashboard <small>Statistics Overview</small>
            </h3>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Upcoming</h3>
                <div class="scrollable">
                <table class="table table-condensed table-hover table-bordered table-striped" id="mytable">
                    <thead>
                        <!--'title', 'programTitle', 'airDateTime', 'duration', 'regionID'-->
                        <tr>
                            <th>TV Show</th>
                            <th>Episode</th>
                            <th>Air Date Time</th>
                            <th>Duration</th>
                            <th>Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in upcoming %}
                            <tr>
                                <td>{{row.title}}</td>
                                <td>{{row.programTitle}}</td>
                                <td>{{row.airDateTime}}</td>
                                <td>{{row.duration}}</td>
                                <td>{{row.regionID}}</td>
                            </tr>
                        {% endfor %}
                        <!--
                        <tr>
                            <td>3326</td>
                            <td>10/21/2013</td>
                            <td>3:29 PM</td>
                            <td>$321.33</td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <a href="/dashboard/favourite">Favourite tv shows <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            </div>
            <div class="col-sm-6">
                <h3>This Past Week</h3>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <!--'title', 'SUM(duration/60.0) as hours', 'regionID'-->
                        <tr>
                            <th>TV Show</th>
                            <th>Total Air Time</th>
                            <th>Region</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in airtimes %}
                            <tr>
                                <td>{{row.title}}</td>
                                <td>{{row.hours}}</td>
                                <td>{{row.regionID}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <h3>Saved Queries</h3>
            <div class="table-responsive">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Run Query</th>
                                <th>Query Name</th>
                                <th>Query Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in savedQueries %}
                            <tr>
                                <td>
                                    <form action="/report/run_saved_query/" method="GET">
                                        <input id="title" type="hidden" name="query" value={{row.safequery}}>
                                        <input type="submit" class="asd" value="run">
                                    </form>
                                </td>
                                <td>{{row.query}}</td>
                                <td>{{row.description}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">Manage Dashboard <i class="fa fa-arrow-circle-right"></i></a>
                </div>
        </div>
{% endblock %}
